/**
 * Theme Name: 502 Starter Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

@media screen and (min-width: 600px) {
  .content-column:not(.last_column) {
    padding-right: 2em; } }

.ginput_container .ginput_container_repeater-end > span {
  margin: 1rem;
  display: inline-block !important; }
  .ginput_container .ginput_container_repeater-end > span img {
    vertical-align: text-bottom; }

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .table-scroll:after, .table-scroll:before {
    content: 'Scroll for more information \f105';
    font-family: "FontAwesome", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    display: none; }
    @media (max-width: 75em) {
      .table-scroll:after, .table-scroll:before {
        display: block; } }
  .table-scroll:after {
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  .table-scroll:before {
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.give-padding {
  padding-left: .75rem;
  padding-right: .75rem; }

.v-align-middle * {
  vertical-align: middle; }

.centered-text {
  text-align: center; }

.right-text {
  text-align: right; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }

.alignright {
  float: right; }

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both;
  width: 100%; }

.alignnone {
  float: none;
  display: block;
  width: 100%; }
  .alignnone a.imgwrap {
    display: block; }
  .alignnone img {
    display: block;
    margin: 0 auto; }

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.wp-caption {
  background: rgba(0, 0, 0, 0.25);
  padding: 1.5em 1em;
  margin: 1.5rem 0; }
  .wp-caption:after {
    content: "";
    display: table;
    clear: both; }
  .wp-caption .wp-caption-text {
    margin: 0;
    margin-top: 1.5em; }

.full-width {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-left: 30vw;
  padding-right: 30vw;
  overflow: hidden; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .mfp-close:hover {
    box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.uppercase {
  text-transform: uppercase !important; }

.bold {
  font-weight: 700 !important; }

.white-text {
  color: #FFF; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: transparent;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
  padding-top: 2rem; }
  @media (min-width: 56.25em) {
    #header {
      padding-top: 0;
      margin-top: 2rem;
      background: transparent;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  #header:after {
    content: '';
    position: absolute;
    top: -2rem;
    width: 100%;
    height: 12rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1;
    pointer-events: none; }
  #header .spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%; }
  #header #menu-toggle {
    display: block;
    color: #ff4500;
    border: none;
    background: none;
    width: 2em;
    height: 2em;
    padding: 0; }
    @media screen and (min-width: 900px) {
      #header #menu-toggle {
        margin-left: 1rem; } }
    #header #menu-toggle:hover {
      background: rgba(0, 0, 0, 0.25); }

#logo {
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: #FFF;
  display: block;
  padding: 1rem; }
  @media (min-width: 56.25em) {
    #logo {
      background: #FFF;
      padding: 1rem 1rem 1rem 6rem; } }
  #logo img {
    display: block;
    max-width: 12rem;
    transition: all 200ms ease-in-out; }

@media (max-width: 56.25em) {
  #header.smaller #logo img {
    max-width: 4rem; } }

@media (max-width: 56.25em) {
  .nav-wrapper {
    width: 100%; } }

#primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 56.25em) {
    #primary-menu {
      -webkit-box-pack: initial;
          -ms-flex-pack: initial;
              justify-content: initial; } }
  #primary-menu > li {
    display: block; }
    #primary-menu > li + li {
      position: relative; }
      #primary-menu > li + li a:before {
        content: '';
        width: 2px;
        height: 2rem;
        background: #ff4500;
        display: block;
        position: absolute;
        left: -2px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      #primary-menu > li + li:hover a:before {
        left: 0; }
    #primary-menu > li a {
      padding: 1.5rem 1rem;
      display: block;
      text-transform: lowercase;
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none;
      font-weight: bold; }
      @media (min-width: 56.25em) {
        #primary-menu > li a {
          padding: 1.5rem 4rem; } }
      #primary-menu > li a:hover {
        background: #ff4500;
        color: #FFF; }
  #primary-menu .sub-menu {
    display: none; }

#secondary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 75%;
  margin: 1rem auto; }
  #secondary-menu li {
    display: block;
    margin: 0 .5rem; }
    #secondary-menu li a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      font-weight: bold;
      text-transform: uppercase;
      font-size: .75em; }
      #secondary-menu li a:hover {
        color: #ff4500; }
    #secondary-menu li:last-child a {
      background: #ff4500;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      padding: .5rem 1rem; }
      @media (min-width: 21.875em) {
        #secondary-menu li:last-child a {
          white-space: nowrap; } }
      #secondary-menu li:last-child a:hover {
        background: #FFF; }
  #secondary-menu .sub-menu {
    display: none; }

#footer {
  background: #FFF;
  padding: .5rem; }
  @media screen and (min-width: 960px) {
    #footer {
      padding: 2rem; } }
  #footer .spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  #footer .references-link {
    display: block;
    color: inherit; }
  @media screen and (max-width: 960px) {
    #footer .footer-details {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #footer .footer-details .spacer {
        margin: 1rem; } }
  @media screen and (max-width: 640px) {
    #footer .footer-details .divider {
      display: none; }
    #footer .footer-details .text {
      display: none; }
    #footer .footer-details .footer-affiliations {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #footer .footer-details .footer-affiliations img {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 10%;
                flex: 1 1 10%;
        max-width: 50px; } }
  #footer .social-media {
    text-transform: uppercase;
    border-left: 0.5rem solid #ff4500;
    padding: 1rem; }
    #footer .social-media a {
      display: block;
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none; }
    #footer .social-media img {
      max-width: 3rem;
      vertical-align: middle;
      margin: 0 1rem 0 0; }
  #footer .footer-affiliations {
    text-transform: uppercase; }
    #footer .footer-affiliations .divider {
      width: .5rem;
      background: #ff4500;
      height: 5rem;
      margin: 0 1rem; }
    #footer .footer-affiliations img {
      margin: 0 1rem; }

#footer .agency {
  padding-bottom: 1rem;
  font-size: .75rem; }

a {
  text-decoration: none;
  color: #ff4500; }
  a:hover {
    text-decoration: underline; }

[type="text/template"] {
  display: none; }

.table-row {
  display: table-row; }
  .table-row > * {
    display: table-cell; }

.narrow-container {
  max-width: 960px;
  margin: 0 auto; }

.top-bottom-padding {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.top-bottom-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.mfp-content [type="text/template"] {
  display: block; }

.mfp {
  background: #FFF;
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  padding: 2rem; }

.mfp-close {
  margin: 0; }

.header-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2; }

.page-callout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8rem 0; }
  .page-callout .callout-content {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: .5rem;
    max-width: 960px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
    @media (min-width: 56.25em) {
      .page-callout .callout-content {
        margin: 2rem;
        padding: 2rem; } }
    @media (min-width: 75em) {
      .page-callout .callout-content {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        margin: 0; } }
  .page-callout .callout-text {
    display: block;
    margin-top: 1rem; }
  .page-callout .callout-content-wrapper {
    border-left: 0.5rem solid #ff4500;
    padding-left: 2rem; }
  .page-callout .callout-title {
    font-size: 2.5em;
    font-weight: 700;
    color: #ff4500;
    line-height: 1;
    margin-bottom: 0rem; }
  .page-callout .callout-subtitle {
    font-size: 2em;
    line-height: 1; }
  .page-callout .callout-link {
    display: inline-block;
    padding: .25rem 1rem;
    margin-left: -1rem;
    margin-top: 1rem; }
    @media (min-width: 56.25em) {
      .page-callout .callout-link {
        margin-top: 0; } }

.article-wrapper {
  background: #FFF;
  padding: 2rem; }
  .article-wrapper h1 {
    color: #ff4500;
    border-left: 0.5rem solid #ff4500;
    padding-left: .5rem; }

.button, a.button {
  height: auto;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  white-space: normal;
  background: #ff4500;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: .75em 1em;
  color: #FFF;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear; }
  .button:focus, a.button:focus {
    outline: 1px dashed black; }
  .button.is-large, a.button.is-large {
    font-size: 1.25em; }

.button.white {
  background: #FFF;
  color: #ff4500; }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 1200px;
  margin: 0 auto; }

.post-thumbnail {
  width: 100%;
  display: block;
  margin-bottom: 2rem; }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #ff4500; }

#commentform .comment-form-url {
  display: none; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  min-height: 100vh; }
  .home #header {
    position: relative;
    z-index: 1; }
  .home #content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    min-height: 50vh; }
    @media (min-width: 75em) {
      .home #content {
        min-height: 80vh; } }
    .home #content .home-slides {
      position: relative;
      top: 0;
      left: 0;
      width: 100vw; }
      @media (min-width: 56.25em) {
        .home #content .home-slides {
          position: fixed;
          height: 100vh; } }
      @media (min-width: 56.25em) {
        .home #content .home-slides .slick-list {
          width: 100vw;
          height: 100%; } }
      .home #content .home-slides .slick-dots {
        position: absolute;
        z-index: 10;
        bottom: 2rem; }
        @media (min-width: 56.25em) {
          .home #content .home-slides .slick-dots {
            position: fixed; } }
        .home #content .home-slides .slick-dots li {
          margin: 0 1rem; }
        .home #content .home-slides .slick-dots li, .home #content .home-slides .slick-dots button {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0; }
        .home #content .home-slides .slick-dots li button:before {
          background: #FFF;
          opacity: .9;
          content: '';
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 5px solid transparent; }
        .home #content .home-slides .slick-dots li.slick-active button:before {
          background: #ff4500;
          border: 5px solid #FFF;
          opacity: 1; }
      .home #content .home-slides .slick-track {
        position: relative; }
        @media (min-width: 56.25em) {
          .home #content .home-slides .slick-track {
            width: 100vw;
            height: 100vh; } }
      .home #content .home-slides .slide {
        top: 0;
        left: 0;
        width: 100vw;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        @media (min-width: 56.25em) {
          .home #content .home-slides .slide {
            height: 100vh; } }
        .home #content .home-slides .slide .slide-content {
          background: rgba(255, 255, 255, 0.9);
          box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
          padding: 2rem;
          margin: 2rem;
          max-width: 960px;
          -webkit-box-flex: 1;
              -ms-flex: 1 1 100%;
                  flex: 1 1 100%; }
          @media (min-width: 75em) {
            .home #content .home-slides .slide .slide-content {
              -webkit-box-flex: 0;
                  -ms-flex: 0 1 50%;
                      flex: 0 1 50%;
              margin: 0; } }
        .home #content .home-slides .slide .slide-text {
          display: none; }
          @media (min-width: 56.25em) {
            .home #content .home-slides .slide .slide-text {
              display: block; } }
        .home #content .home-slides .slide .slide-content-wrapper {
          border-left: 0.5rem solid #ff4500;
          padding-left: 2rem; }
        .home #content .home-slides .slide .slide-title {
          text-transform: lowercase;
          font-size: 2.5em;
          font-weight: 700;
          color: #ff4500;
          line-height: 1;
          margin-bottom: 1rem; }
        .home #content .home-slides .slide .slide-subtitle {
          font-size: 2em;
          line-height: 1; }
        .home #content .home-slides .slide .slide-link {
          display: inline-block;
          padding: .25rem 1rem;
          margin-left: -1rem;
          margin-top: 1rem; }
          @media (min-width: 56.25em) {
            .home #content .home-slides .slide .slide-link {
              margin-top: 0; } }
  .home #footer {
    position: relative;
    z-index: 1; }

.playing-video #content .slide {
  background: none !important; }

.container-player {
  overflow: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative; }

.container-player.fullscreen-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

.container-player .container-player-outer {
  position: relative;
  width: 100%;
  height: 100%; }

.container-player .container-player-inner,
.container-player .container-player-poster {
  position: absolute;
  z-index: 0; }

.container-player .container-player-poster {
  background-size: cover;
  z-index: 0; }

.container-player.youtube iframe, .container-player.vimeo iframe {
  opacity: 0; }

.container-player.youtube.transition-in.playing iframe,
.container-player.youtube.transition-in.paused iframe, .container-player.vimeo.transition-in.playing iframe,
.container-player.vimeo.transition-in.paused iframe {
  -webkit-animation: revealVideo 1s;
  animation: revealVideo 1s; }

.container-player.youtube.playing iframe,
.container-player.youtube.paused iframe, .container-player.vimeo.playing iframe,
.container-player.vimeo.paused iframe {
  opacity: 1; }

.container-player .container-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }

@-webkit-keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container-player video, .container-player iframe {
  width: 100%;
  height: 100%;
  border: none; }
/*# sourceMappingURL=style.css.map */