{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		
			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}

			{% block below_header %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper content container">
				<div id="vue-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
				</div> <!-- #vue-wrapper -->
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
			{% endblock %}

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			<div id="results-popup" class="magnific mfp-hide"></div>
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		
	</body>
</html>
