<header id="header" class="header"><!-- #header open -->
	<a id="logo" class="logo-link" href="{{site.url}}" rel="home">
		<img src="{{ theme.link }}/static/images/logo.png" alt='{{ site.title }} Logo' class="logo" />
		<span class="screen-reader-text">{{ site.title }}</span>
	</a>
	<div class="nav-wrapper">
		<nav id="nav-main" role="navigation" class="is-hidden-touch">
			{{ function('starter_render_primary_menu') }}
		</nav>
		<div class="menu-toggle-container is-hidden-desktop">
			<button id="menu-toggle" class="fa fa-bars nav-toggle"><span class="screen-reader-text">Toggle Menu</span></button>
		</div>
	</div>
</header><!-- #header close -->