.button, a.button {
	height: auto;
	text-transform: uppercase;
	font-weight: 700;
	vertical-align: middle;
	white-space: normal;
	background: $red;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: 6px;
	padding: .75em 1em;
	color: $white;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	transition: transform 50ms linear;
	
	&:hover, &:active, &:focus {

	}

	&:focus {
		outline: 1px dashed black;
	}

	&.is-large {
		font-size: 1.25em;
	}
}

.button.white {
	background: $white;
	color: $red;
	&:hover, &:active, &:focus {

	}
}