#footer {
	background: $white;
	padding: .5rem;
	@media screen and (min-width: 960px){
		padding: 2rem;
	}

	.spacer {
		flex: 1 1 auto;
	}

	.references-link {
		display: block;
		color: inherit;
	}

	.footer-details {
		@media screen and (max-width: 960px){
			align-items: flex-end;
			flex-direction: column;

			.spacer {
				margin: 1rem;
			}
		}

		@media screen and (max-width: 640px){
			.divider {
				display: none;
			}
			.text {
				display: none;
			}
			.footer-affiliations {
				display: flex;

				img {
					flex: 1 1 10%;
					max-width: 50px;
				}
			}
		}
	}

	.social-media {
		text-transform: uppercase;
		border-left: .5rem solid $red;
		padding: 1rem;

		a {
			display: block;
			color: $dark-grey;
			text-decoration: none;
		}

		img {
			max-width: 3rem;
			vertical-align: middle;
			margin: 0 1rem 0 0;
		}
	}

	.footer-affiliations {
		text-transform: uppercase;

		.divider {
			width: .5rem;
			background: $red;
			height: 5rem;
			margin: 0 1rem;
		}

		img {
			margin: 0 1rem;
		}
	}
}

// Agency Credit
#footer .agency {
	padding-bottom: 1rem;
	font-size: .75rem;
}