a {
	text-decoration: none;
	color: $red;
	&:hover {
		text-decoration: underline;
	}
}

[type="text/template"] {
	display: none;
}

.table-row {
	display: table-row;

	> * {
		display: table-cell;
	}
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
}

.top-bottom-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.top-bottom-padding-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

.header-background {
	background-color: $grey;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50rem;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -2;

	.single-project & {
	
	}
}

.page-callout {
	display: flex;
	justify-content: flex-end;
	padding: 8rem 0;

	.callout-content {
		background: rgba($white, .9);
		box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
		padding: 1rem;
		margin: .5rem;
		max-width: 960px;
		flex: 1 1 100%;
		@include mq($tablet){
			margin: 2rem;
			padding: 2rem;
		}
		@include mq($desktop){
			flex: 0 1 50%;
			margin: 0;
		}
	}

	.callout-text {
		display: block;
		margin-top: 1rem;
	}

	.callout-content-wrapper {
		border-left: .5rem solid $red;
		padding-left: 2rem;
	}

	.callout-title {
		// text-transform: lowercase;
		font-size: 2.5em;
		font-weight: 700;
		color: $red;
		line-height: 1;
		margin-bottom: 0rem;
	}

	.callout-subtitle {
		font-size: 2em;
		line-height: 1;
	}

	.callout-link {
		display: inline-block;
		padding: .25rem 1rem;
		margin-left: -1rem;
		margin-top: 1rem;
		@include mq($tablet){
			margin-top: 0;
		}
	}
}

.article-wrapper {
	background: $white;
	padding: 2rem;

	h1 {
		color: $red;
		border-left: .5rem solid $red;
		padding-left: .5rem;
	}
}