#header {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: $black;
	padding-top: 2rem;
	@include mq($tablet){
		padding-top: 0;
		margin-top: 2rem;
		background: transparent;
		flex-direction: row;
	}

	&:after {
		content: '';
		position: absolute;
		top: -2rem;
		width: 100%;
		height: 12rem;
		background: linear-gradient(to bottom, rgba($black, .8), transparent );
		z-index: -1;
		pointer-events: none;
	}

	.spacer {
		flex: 1 1 auto;
		width: 100%;
	}

	#menu-toggle {
		display: block;
		color: $red;
		border: none;
		background: none;
		width: 2em;
		height: 2em;
		padding: 0;
		@include tablet {
			margin-left: 1rem;
		}

		&:hover {
			background: $light-grey;
		}
	} // #menu-toggle

} // #header

#logo {
	box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
	border-radius: 2px;
	background: $white;
	display: block;
	padding: 1rem;
	@include mq($tablet){
		background: $white;
		padding: 1rem 1rem 1rem 6rem;
	}

	img {
		display: block;
		max-width: 12rem;
		transition: all 200ms ease-in-out;
	}
}

@include mq($until: $tablet){
	#header.smaller #logo img {
		max-width: 4rem;
	}
}

.nav-wrapper {
	@include mq($until: $tablet){
		width: 100%;
	}
}

#primary-menu {
	display: flex;
	background: rgba($white, .9);
	padding: 0;
	margin: 0;
	box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.3);
	justify-content: center;

	@include mq($tablet){
		justify-content: initial;
	}

	> li {
		display: block;

		+ li {
			position: relative;
			a:before {
				content: '';
				width: 2px;
				height: 2rem;
				background: $red;
				display: block;
				position: absolute;
				left: -2px;
				top: 50%;
				transform: translateY(-50%);
			}

			&:hover {
				a:before {
					left: 0;
				}
			}
		}

		a {
			padding: 1.5rem 1rem;
			display: block;
			text-transform: lowercase;
			color: $dark-grey;
			text-decoration: none;
			font-weight: bold;
			@include mq($tablet){
				padding: 1.5rem 4rem;
			}

			&:hover {
				background: $red;
				color: $white;
			}
		}
	}
	.sub-menu {
		display: none;
	}
}

#secondary-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0 auto;
	width: 75%;
	margin: 1rem auto;

	li {
		display: block;
		margin: 0 .5rem;
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: .75em;

			&:hover {
				color: $red;
			}
		}

		&:last-child {
			a {
				background: $red;
				box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
				border-radius: 6px;
				padding: .5rem 1rem;

				@include mq(350px){
					white-space: nowrap;
				}

				&:hover {
					background: $white;
				}
			}
		}
	}
	.sub-menu {
		display: none;
	}
}