.home {
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	min-height: 100vh;

	#header {
		position: relative;
		z-index: 1;
	} // #header

	#content {
		flex: 1 1 auto;
		width: 100%;
		min-height: 50vh;

		@include mq($desktop){
			min-height: 80vh;
		}

		.home-slides {
			position: relative;
			top: 0;
			left: 0;
			width: 100vw;
			@include mq($tablet){
				position: fixed;
				height: 100vh;
			}
			// z-index: 0;

			.slick-list {
				// width: 100vw;
				// height: 100vh;
				@include mq($tablet){
					width: 100vw;
					height: 100%;
				}
			}

			.slick-dots {
				position: absolute;
				z-index: 10;
				bottom: 2rem;
				@include mq($tablet){
					position: fixed;
				}

				li {
					margin: 0 1rem;
				}
				li, button {
					width: 1.5rem;
					height: 1.5rem;
					padding: 0;
				}

				li button:before {
					background: $white;
					opacity: .9;
					content: '';
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
					border: 5px solid transparent;
				}
				li.slick-active button:before {
					background: $red;
					border: 5px solid $white;
					opacity: 1;
				}
			}

			.slick-track {
				position: relative;
				@include mq($tablet){
					width: 100vw;
					height: 100vh;
				}
			}

			.slide {
				// position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 70vh;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include mq($tablet){
					height: 100vh;
				}

				.slide-content {
					background: rgba($white, .9);
					box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
					padding: 2rem;
					margin: 2rem;
					max-width: 960px;
					flex: 1 1 100%;
					@include mq($desktop){
						flex: 0 1 50%;
						margin: 0;
					}
				}

				.slide-text {
					display: none;
					@include mq($tablet){
						display: block;
					}
				}

				.slide-content-wrapper {
					border-left: .5rem solid $red;
					padding-left: 2rem;
				}

				.slide-title {
					text-transform: lowercase;
					font-size: 2.5em;
					font-weight: 700;
					color: $red;
					line-height: 1;
					margin-bottom: 1rem;
				}

				.slide-subtitle {
					font-size: 2em;
					line-height: 1;
				}

				.slide-link {
					display: inline-block;
					padding: .25rem 1rem;
					margin-left: -1rem;
					margin-top: 1rem;
					@include mq($tablet){
						margin-top: 0;
					}
				}
			}
		}
	} // #content

	#footer {
		position: relative;
		z-index: 1;
	} // #footer

} // .home

.playing-video {
	#content .slide {
		background: none !important;
	}
}