.give-padding {
	padding-left: .75rem;
	padding-right: .75rem;
}

.v-align-middle {
	* {
		vertical-align: middle;
	}
}

.centered-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.align-center {
	display: flex;
	align-items: center;
	
	@media screen and (max-width: 480px){
		display: block;	
	}
}

.alignright {
	float: right;
}

img.aligncenter {
	display: block;
	margin: 1.5em auto;
	clear: both;
	width: 100%;
}

.alignnone {
	float: none;
	display: block;
	width: 100%;

	a.imgwrap {
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

img.alignnone {
	display: block;
	clear: both;
	margin: 1.5em auto;
}

.alignleft {
	float: left;
}

img.alignright {
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

img.alignleft {
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.wp-caption {
	background: $light-grey;
	padding: 1.5em 1em;
	margin: 1.5rem 0;

	@include clearfix;

	.wp-caption-text {
		margin: 0;
		margin-top: 1.5em;
	}
}


.full-width {
	margin-left: -30vw;
	margin-right: -30vw;
	padding-left: 30vw;
	padding-right: 30vw;
	overflow: hidden;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #eee;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.magnific {
	position: relative;
	background: #FFF;
	padding: 1rem;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;

	.mfp-close {
		margin: 0;
	}
}

.mfp-content {
	animation: slideInUp 350ms 1;
}
.mfp-close {
	border: none;
	border-radius: 0;
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

.mfp-bg.mfp-removing {
	opacity: 0;
	transition: all 300ms linear;
}

.mfp-wrap.mfp-removing .mfp-content {
	transform: scale(0);
	transition: all 200ms linear;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.flex-center {
	display: flex;
	align-items: center;
}

.uppercase {
	text-transform: uppercase !important;
}

.bold {
	font-weight: 700 !important;
}

.white-text {
	color: $white;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}
