$white: #FFF;
$black: #000;
$red: #ff4500;
$light-grey: rgba( $black, .25 );
$grey: rgba( $black, .50 );
$dark-grey: rgba( $black, .75 );

$font-heading: Helvetica, Arial, sans-serif;
$font-body: Helvetica, Arial, sans-serif;

$small-tablet: 400px;
$tablet: 900px;
$desktop: 1200px;

$menu-breakpoint: 1300px;