/**
 * Theme Name: 502 Starter Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
@import "reset";
@import "mq";
@import "susy";
* {
	box-sizing: border-box;
}
@import "variables";
@import "grid";
@import "forms";
@import "tables";
@import "utilities";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	background: transparent;
	color: $black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}
@import "header";
@import "footer";
@import "global-patterns";
@import "buttons";

@import "tinymce";
@import "blog";
@import "comments";
@import "home";
@import "bg-video";